In [2]:
# Erstellt Eintr채ge in der Datenbank-Tabelle broccoliBlacklist. Diese Datens채tze werden sp채ter ignoriert
import pyodbc
import pandas as pd
import glob

# CSV einlesen und Datens채tze filtern, die in DB geschrieben werden sollen
date = '2019-05-16'
if date == '':
    csv_files = glob.glob("pixelCount_notableIDs_*.csv")
else:
    csv_files = glob.glob("pixelCount_notableIDs_" + date + ".csv")

blacklist = pd.concat([pd.read_csv(f, delimiter=';') for f in csv_files], ignore_index = True, sort=False)
blacklist = blacklist[blacklist.toBlacklist == 1]
blacklist

      id  pixelCount  toBlacklist
22   633          64            1
25   762         129            1
26   773         114            1
28   797         110            1
29   835         185            1
30   883         108            1
32   918          50            1
36  1072          87            1
39  1136         102            1
40  1216         106            1
45  1459         122            1
46  1504          90            1
47  1572         173            1
48  1626         175            1
51  1801          62            1
54  2030          17            1
65  2414          21            1
66  2491          30            1

In [3]:
# Azure-DB Verbindungsaufbau und INSERT
server = 'deepbroccoliserver.database.windows.net'
database = 'DeepBroccoliDatabase'
username = 'ntb'
password = 'brokkoli_2019'
driver= '{SQL Server}'
conn = pyodbc.connect('DRIVER='+driver+';SERVER='+server+';PORT=1433;DATABASE='+database+';UID='+username+';PWD='+ password)
cursor = conn.cursor()

for index, row in blacklist.iterrows():    
    cursor.execute('''
                    IF NOT EXISTS (SELECT * FROM dbo.broccoliBlacklist WHERE broccoli_id = ''' + str(row['id']) + ''')
                    BEGIN
                        INSERT INTO dbo.broccoliBlacklist (broccoli_id, reason)
                        VALUES (''' + str(row['id']) + ', \'EDA\'' + ''')
                    END
                    ''')

conn.commit()

SQL_Query = pd.read_sql_query(''' select * from dbo.broccoliBlacklist''', conn)
sqlBlacklist = pd.DataFrame(SQL_Query)
sqlBlacklist

    broccoli_id reason
0           282    EDA
1           633    EDA
2           762    EDA
3           773    EDA
4           797    EDA
5           835    EDA
6           883    EDA
7           918    EDA
8          1072    EDA
9          1136    EDA
10         1216    EDA
11         1459    EDA
12         1504    EDA
13         1572    EDA
14         1626    EDA
15         1801    EDA
16         2030    EDA
17         2414    EDA
18         2491    EDA