# Explorative Datenanalyse
Im Folgenden werden die gemessenen Index-Werte der Brokkoli analysiert. Im Vorfeld wurden diese bereits innerhalb der Voronoi-Zellen segmentiert, das heisst Es werden nur noch die Pixel gewertet, welche zum Brokkoli gehören, ohne die Erde darum zu berücksichtigen.

In [57]:
# Datenabfrage von Server-DB
import pyodbc
import pandas as pd
from datetime import datetime
import matplotlib.pyplot as plt

# Verbindungsaufbau
server = 'deepbroccoliserver.database.windows.net'
database = 'DeepBroccoliDatabase'
username = 'ntb'
password = 'brokkoli_2019'
driver= '{SQL Server}'
cnxn = pyodbc.connect('DRIVER='+driver+';SERVER='+server+';PORT=1433;DATABASE='+database+';UID='+username+';PWD='+ password)

# Abfrage definieren und ausführen: Alle Brokkoli mit allen dazugehörigen Messwerten 
SQL_Query = pd.read_sql_query('''
select dbo.broccoli.id, dbo.broccoli.lat, dbo.broccoli.long,
dbo.broccolivalues.timestamp, dbo.broccolivalues.pixelCount, dbo.broccolivalues.maxNDVI, dbo.broccolivalues.minNDVI,
dbo.broccolivalues.meanNDVI, dbo.broccolivalues.medianNDVI, dbo.broccolivalues.maxNDRE, dbo.broccolivalues.minNDRE,
dbo.broccolivalues.meanNDRE, dbo.broccolivalues.medianNDRE
from dbo.broccoli inner join dbo.broccolivalues on dbo.broccoli.id = dbo.broccolivalues.id''', cnxn)
broccoli_data = pd.DataFrame(SQL_Query)

# Describe: Erste Übersicht
#broccoli_data = broccoli_data.drop(broccoli_data.columns[3], axis=1)
broccoli_data.head()

,id,lat,long,timestamp,pixelCount,maxNDVI,minNDVI,meanNDVI,medianNDVI,maxNDRE,minNDRE,meanNDRE,medianNDRE
0,1,47.217185,9.492887,2019-04-18,3,0.417891,0.416200,0.416764,0.416200,0.098250,0.033404,0.055020,0.033404
1,1,47.217185,9.492887,2019-04-25,28,0.631827,0.399177,0.487436,0.470969,0.258980,-0.084967,0.120464,0.118629
2,1,47.217185,9.492887,2019-05-01,70,0.689316,0.400272,0.546891,0.556947,0.252909,0.015296,0.135502,0.135796
3,2,47.217187,9.492902,2019-04-18,20,0.536825,0.405282,0.467487,0.441985,0.219250,-0.017574,0.057152,0.047052
4,2,47.217187,9.492902,2019-04-25,26,0.610880,0.396519,0.511980,0.524940,0.276146,-0.080555,0.093065,0.111607

In [67]:
broccoli_data_1 = broccoli_data[broccoli_data.timestamp == '2019-05-01']
broccoli_data_1.describe()

,id,lat,long,pixelCount,maxNDVI,minNDVI,meanNDVI,medianNDVI,maxNDRE,minNDRE,meanNDRE,medianNDRE
count,2678.000000,2678.000000,2678.000000,2678.000000,2678.000000,2678.000000,2678.000000,2678.000000,2678.000000,2678.000000,2678.000000,2678.000000
mean,1341.646004,47.217908,9.493047,179.704630,0.796976,0.396124,0.617535,0.636196,0.288803,-0.048566,0.129692,0.132964
std,774.070992,0.000401,0.000294,46.510113,0.042819,0.004717,0.028165,0.035982,0.068764,0.074658,0.030398,0.032652
min,1.000000,47.217185,9.492415,1.000000,0.393147,0.392159,0.393147,0.393147,0.084406,-0.368592,-0.017900,-0.043443
25%,672.250000,47.217561,9.492840,158.000000,0.781249,0.393179,0.605070,0.618899,0.239727,-0.090617,0.116876,0.119326
50%,1341.500000,47.217907,9.493050,183.000000,0.803339,0.394755,0.620634,0.639557,0.275871,-0.034583,0.132156,0.135749
75%,2011.750000,47.218256,9.493260,207.000000,0.822085,0.397531,0.635162,0.658849,0.326662,0.006387,0.146130,0.149757
max,2681.000000,47.218642,9.493662,696.000000,0.885956,0.487389,0.682812,0.729615,0.634640,0.178137,0.260902,0.302420

In [69]:
broccoli_data_1_pix = broccoli_data_1[broccoli_data.pixelCount == 1]
broccoli_data_1_pix['id']

c:\users\juhe9\source\repos\dataanalysis\dataanalysisvirtualenv\lib\site-packages\ipykernel_launcher.py:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  """Entry point for launching an IPython kernel.

1921    643
2745    918
Name: id, dtype: int64